@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fon-no: Verdana, Geneva, Tahoma, sans-serif;
    --fon-ti: "Passion One", serif;
    --fon-te: "Sriracha", serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fon-no);
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    font-family:var(--fon-ti);
    /*
    Transfomar todas as letras maiuscula 
    text-transform: uppercase; 
    */
    font-variant: small-caps;
    font-size: 10vw;   
    padding-top: 50px; 
    margin: 0px;
}

header>p{
    padding-top: 0px;
    padding-bottom: 50px;
}

header a,  footer a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fon-te);
    line-height: 2em;
    font-size: 3.5vw;
    text-align: left;
    padding: 10vh 0px 10vh 30px;
}

section>p{
    padding-bottom: 2em;
}
#im01{
    background: url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}

#im02{
    background: url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

section.ima{
    /* inset é para sombra aparece pra dentro */
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.554);
}
section.ima>p{
    background-color: rgba(0, 0, 0, 0.503);
    color: white;
    padding: 5px;
    /* Fazer a caixa a se adapta no que tem dentro */
    display: inline-block;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.572);
}

footer{
    background-color: black;
    color: white;
}
footer>p{
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}